body {
  .container {


  }

  ftr {
    background: #22968A;
    color: #FFFFFF;
    a{
      color: #eeeeee;
      :hover {
        color: #eeeeee;
        text-decoration: none;
      }
    }
  }
}