/* ### Main Elements ### */
@import "../lib/fontaewsome/css/fontawesome.css";
@import "../lib/fontaewsome/css/fa-solid.css";
@import "../lib/fontaewsome/css/fa-brands.css";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: #FAFAFA;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}
header {
    z-index: 300;
}

.navbar-brand { 
    width: 234px;
    text-align: center;
}

.button--green {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #3b8070;
    color: #3b8070;
    text-decoration: none;
    padding: 10px 30px;
}

.button--green:hover {
    color: #fff;
    background-color: #3b8070;
}

.button--grey {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #35495e;
    color: #35495e;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 15px;
}

.button--grey:hover {
    color: #fff;
    background-color: #35495e;
}

/* ### Nuxt ### */

#__nuxt {
    width: 100%;
    height: 100%;
}

/* ### Default Layout ### */
#__layout {
    height: 100%;
}

.layout-default {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
    display: flex;
    box-sizing: border-box;
}

.layout-row {
    width: 100%;
}

.navbar{
    z-index: 300;
    position: fixed;
    width: 100%;
}

/* ### Sidebar ### */
.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    min-height: 100%;
    width: 250px;
    z-index: 200;
    font-family: 'Alegreya Sans', sans-serif;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background-color: #292C33;
}

.sidebar {
    min-height: 100%;
    flex-shrink: 0;
    z-index: 10;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.content {
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px 10px;
}

#content-wrapper {
    background: #FAFAFA;
    margin-left: 234px;
    padding: 55px 5px;
}

#container {
    height: auto !important;
    margin: 0 auto -142px;
    min-height: 100%;
}
#wrap {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}
#menu {
    margin: 0;
}

#menu  > .icon-menu {
    padding: 0 15px;
}

#menu > ul > li {
    background: #2c3136;
    color: #fafafa;
    margin: 0;
    border-bottom: rgba(85, 90, 88, 0.38) 1px solid;
}
#menu > ul > li:hover {
    background: #788187;
}
#menu ul > li > a {
    text-transform: uppercase;
    color: #fafafa;
}
#menu .active {
    background: rgba(85, 91, 89, 0.56);
}

#header {
    background: none repeat scroll 0 0 #BA6F19;
    height: 50px;
    padding: 20px;
}

.container-avatar {
    margin: 10px 0 0 0;
    padding: 20px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    border-bottom: #555a58 1px solid;
}

.container-avatar > img {
    border-radius: 100%;
    padding: 1%;
    border: 1px rgba(85, 90, 88, 0.53) solid;
    width: 30%;
    height: 30%;
}

.container-avatar > span {
    text-align: center;
    width: 100%;
}


footer {
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 254px;
    position: fixed;
    bottom: 0;
    left: auto;
    background: #394648;
    color: rgb(250, 250, 250);
    border-top: 1px solid #2C3136;
}

.search_input {
    background: transparent !important;
    color: white !important;
}

.error {
    color: #ff565d;
    padding: 2%;
    font-weight: 600;
}

.bg-info {
    background-color: #2A97A9 !important;
}
